# 编译生成的目录
build/
bin/
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
*.exe
*.dll
*.so
*.a
*.o
*.obj

# Qt 自动生成的文件
moc_*.cpp
qrc_*.cpp
ui_*.h
*.autogen*

# 临时文件
*.log
*.tmp
.DS_Store
Thumbs.db
*.user
*.autosave

# IDE 文件
.vs/
.vscode/
.idea/
*.pro.user
*.pro.user.*

# Qt Creator
.qtc/
.qtc_clangd/
